<footer class="footer py-2 fixed-bottom bg-secondary">
    <div class="d-flex flex-row-reverse container">
        <span class="text-white">copyrightⓒkys95</span>
    </div>
</footer>



</body>
</html>